#  Lab test - manipulate and query data using Pandas (PM)

## Rules:

•	Make sure you are comfortable before the lab test starts – students leaving the lab during the test will not be allowed back in.

•	You must sit your assigned lab test – you will not be able to access any other lab test.

•	You must use the lab machines. You are not allowed to use any other devices, including your own laptop or phone. You should have no other device on the desktop during the test.

•	You may use blank paper. 

•	You may access Brightspace notes during the lab test, from the lab machine.

•	You must not communicate, verbally or electronically, with anyone other than the lab supervisor during the test.

•	Turn up at the start of the lab, log in to one of the desktops and start up Jupyter Notebook

•	When you have completed your test, check that you have answered all parts and submit.  Log off and leave the lab. 

•	Do not speak to anyone, either in the lab or in the corridor outside until the lab test is over.

In [1]:
import os
import pandas as pd
from os.path import join
os.getcwd()

'/Users/michaelnjoku/Downloads'

#### This test must be done in the lab in Grangegorman. 

 - The data files you will require are in the Datasets folder in Brightspace. Download them onto the desktop computer.  You will need to specify the data path.
 - Please use one or more cells below each section to fulfil the requirements. 
 - When you have completed your work, using the Kernel menu, restart the kernel and run all. 
 - Using the File menu, Save your notebook as your student number .ipynb (e.g. C87654321.ipynb).
 - Submit this file before the end of the lab. Do not submit the data files.

## 1.  Loading the data

 - load all the data from 'IRCountyPop.csv' into a DataFrame called **dfh**.
 - load the first 70 columns from 'irishcensus2016.csv' into a dataframe called **df16**.
 - display the first five rows of each dataset.

In [6]:
# Loading all data from 'IRCountyPop.csv' into a DataFrame called dfh
dfh = pd.read_csv('IRCountyPop.csv')

# Loading the first 70 columns from 'irishcensus2016.csv' into a DataFrame called df16
df16 = pd.read_csv('irishcensus2016.csv', usecols=range(70))

# Displaying the first five rows of each dataset
print("First five rows of dfh:")
print(dfh.head())

print("\nFirst five rows of df16:")
print(df16.head())

First five rows of dfh:
   county  pop1841  pop1851  pop1861  pop1871  pop1881  pop1891  pop1901  \
0  Antrim   361428   360498   372008   398624   413178   416143   543329
1  Armagh   227190   189091   184138   171142   154515   135444   123018
2  Carlow    81658    65222    54610    49012    44103    38734    35881
3   Cavan   243094   173989   153870   140735   129476   111917    97451
4   Clare   285456   211865   165884   147779   141379   124425   110658

   pop1911  pop1926  pop1936  pop1951  pop1961  pop1971  pop1981  pop1991  \
0   578704   608258   635692   661693   677512   663051   579750   591404
1   117783   105693   102646   108739   111701   125461   127607   136469
2    34498    33018    33127    32993    32248    33202    38646    39774
3    91173    82452    76670    66377    56594    49345    53855    52796
4   102604    93685    88642    80264    72753    74104    86547    89864

   pop2001
0   617462
1   144178
2    44829
3    56546
4   102109

First five rows of df16:
   Unnamed: 0       County  Age 0 - Males  Age 1 - Males  Age 2 - Males  \
0           0    Cork City            720            614            613
1           1        Clare            762            759            780
2           2  Cork County           2957           3154           3174
3           3        Cavan            539            540            566
4           4       Carlow            349            440            383

   Age 3 - Males  Age 4 - Males  Age 5 - Males  Age 6 - Males  Age 7 - Males  \
0            645            602            643            647            598
1            842            868            843            929            954
2           3324           3365           3579           3628           3543
3            636            608            671            635            680
4            426            459            475            442            455

   ...  Age 40 - 44 - Females  Age 45 - 49 - Females  Age 50 - 54 - Females  \
0  ...                   3651                   3447                   3854
1  ...                   4698                   4392                   4071
2  ...                  16653                  15119                  13580
3  ...                   2717                   2609                   2415
4  ...                   2147                   1954                   1807

   Age 55 - 59 - Females  Age 60 - 64 - Females  Age 65 - 69 - Females  \
0                   3675                   3167                   2969
1                   3658                   3347                   3059
2                  11774                  10456                   9169
3                   2182                   1889                   1649
4                   1620                   1428                   1214

   Age 70 - 74 - Females  Age 75 - 79 - Females  Age 80 - 84 - Females  \
0                   2626                   2324                   1743
1                   2285                   1597                   1123
2                   6968                   4931                   3824
3                   1226                    895                    755
4                    982                    706                    509

   Age 85 and over - Females
0                       1412
1                       1172
2                       3757
3                        782
4                        455

[5 rows x 70 columns]

## 2. Rearrange the data.

 - ### **dfh**
     - Transform **dfh** into a new dataframe **dfhy** where each row shows a county, a year and a population count.
     - Remove the 'pop' from the year,
     - Check the datatypes of all columns in **dfhy**.
     - If any column's data type is not appropriate, change it.

In [3]:
# Transform dfh into a new dataframe dfhy
dfhy = pd.melt(dfh, id_vars=['county'], var_name='year', value_name='population')

# Remove 'pop' from the year
dfhy['year'] = dfhy['year'].str.replace('pop', '')

# Check the datatypes of all columns in dfhy
print("Data types of columns in dfhy:")
print(dfhy.dtypes)

# If any column's data type is not appropriate, change it
dfhy['year'] = pd.to_numeric(dfhy['year'])
dfhy['population'] = pd.to_numeric(dfhy['population'])

# Check the datatypes again after conversion
print("\nData types of columns in dfhy after conversion:")
print(dfhy.dtypes)

Data types of columns in dfhy:
county        object
year          object
population     int64
dtype: object

Data types of columns in dfhy after conversion:
county        object
year           int64
population     int64
dtype: object

### - df16
 - drop the column 'Unnamed: 0'
 - Transform **df16** into a new dataframe **df16p** where each row shows a county, a demographic and a population.
 - Create a further dataframe **df16sum** that gives just County and Population.
    -The population is the sum of values from 'Age 0 - Males' to 'Age 85 and over - Females'
 - Add a new column 'Year', to **df16sum** with a value of 2016.
 - Rearrange the order of the columns, so the order is the same as in **dfhy**.
 - Rename the columns in **df16sum** to the names in **dfhy**.

## 3. Combine the DataFrames
 - Combine the data from **dfhy** and **df16p** into a single dataframe **dfpop**, losing no data.

In [7]:
# Drop the column 'Unnamed: 0' from df16
df16 = df16.drop(columns=['Unnamed: 0'])

# Transform df16 into a new dataframe df16p
df16p = pd.melt(df16, id_vars=['County'], var_name='demographic', value_name='population')

# Create a further dataframe df16sum
df16sum = df16[['County']].copy()
df16sum['Population'] = df16.loc[:, 'Age 0 - Males':'Age 85 and over - Females'].sum(axis=1)

# Add a new column 'Year' to df16sum with a value of 2016
df16sum['Year'] = 2016

# Rearrange the order of the columns in df16sum
df16sum = df16sum[['County', 'Year', 'Population']]

# Rename the columns in df16sum to the names in dfhy
df16sum.columns = ['county', 'year', 'population']

# Display the resulting dataframes
print("df16p:")
print(df16p.head())

print("\ndf16sum:")
print(df16sum.head())

df16p:
        County    demographic  population
0    Cork City  Age 0 - Males         720
1        Clare  Age 0 - Males         762
2  Cork County  Age 0 - Males        2957
3        Cavan  Age 0 - Males         539
4       Carlow  Age 0 - Males         349

df16sum:
        county  year  population
0    Cork City  2016      125657
1        Clare  2016      118817
2  Cork County  2016      417211
3        Cavan  2016       76176
4       Carlow  2016       56932

## 4. Queries
 - Display the names of distinct counties in **dfhy** in alphabetical order.
 - Display the names of distinct counties in **df16sum** in alphabetical order.

In [8]:
# Display the names of distinct counties in dfhy in alphabetical order
distinct_counties_dfhy = dfhy['county'].sort_values().unique()
print("Distinct counties in dfhy:")
print(distinct_counties_dfhy)

# Display the names of distinct counties in df16sum in alphabetical order
distinct_counties_df16sum = df16sum['county'].sort_values().unique()
print("\nDistinct counties in df16sum:")
print(distinct_counties_df16sum)

Distinct counties in dfhy:
['Antrim' 'Armagh' 'Carlow' 'Cavan' 'Clare' 'Cork' 'Derry' 'Donegal'
 'Down' 'Dublin' 'Fermanagh' 'Galway' 'Kerry' 'Kildare' 'Kilkenny' 'Laois'
 'Leitrim' 'Limerick' 'Longford' 'Louth' 'Mayo' 'Meath' 'Monaghan'
 'Offaly' 'Roscommon' 'Sligo' 'Tipperary' 'Tyrone' 'Waterford' 'Westmeath'
 'Wexford' 'Wicklow']

Distinct counties in df16sum:
['Carlow' 'Cavan' 'Clare' 'Cork City' 'Cork County' 'Donegal'
 'Dublin City' 'Dún Laoghaire-Rathdown' 'Fingal' 'Galway City'
 'Galway County' 'Kerry' 'Kildare' 'Kilkenny' 'Laois' 'Leitrim'
 'Limerick City and County' 'Longford' 'Louth' 'Mayo' 'Meath' 'Monaghan'
 'Offaly' 'Roscommon' 'Sligo' 'South Dublin' 'Tipperary'
 'Waterford City and County' 'Westmeath' 'Wexford' 'Wicklow']

 - Using **dfpop** show the population of the county 'Kildare' for every year that's available.

Population of Kildare for every available year:
    year  population
11  2016      222504

 - Using **dfpop** show the population of the county 'Cork' for every year that's available.

In [ ]:
# Filter dfpop for the county 'Kildare'
kildare_population = dfpop[dfpop['County'] == 'Cork']

# Display the population for every year
print("Population of Kildare for every available year:")
print(kildare_population[['YearColumnName', 'Population']])

 - Returning to **df16sum**, describe how you would get the population for 'Cork' for 2016

In [16]:
# Assuming 'df16sum' is the DataFrame containing the summarized population data

# Filter df16sum for the county 'Cork'
cork_population = df16sum[df16sum['county'] == 'Cork']

# Display the population for Cork for every available year
print("Population of Cork for every available year:")
print(kildare_population[['year', 'population']])

Population of Kildare for every available year:
Empty DataFrame
Columns: [year, population]
Index: []

## 5. What did you learn?
 - State amendments you would recommend to make the datasets more compatible.

# Rerun your notebook before submitting, to correct any errors.